# Dependency directories
node_modules
.pnpm-store

# Environment variables
.env
.env.*

# Build outputs
dist
dist-ssr
coverage

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS files
.DS_Store
Thumbs.db

# IDEs
.idea
.vscode
*.swp
*.swo

# Tests
tests/**
test-results/

# Docker
Dockerfile
.dockerignore
docker-compose*
